<footer class="ui inverted segment footer-custom">
    <div class="ui inverted secondary menu">
        <a class="item" href="https://www.nathancollins.net.au"><i class="bitbucket icon"></i></a>
        <a class="item" href="https://github.com/spuddie1984"><i class="github icon"></i></a>
        <a class="item" href="https://www.linkedin.com/in/nathan-collins-64051612a"><i class="linkedin icon"></i></a>
    </div>    
</footer>

<script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>
<script src="/semantic/dist/semantic.min.js"></script>
<script src="/js/edit-recipe.js"></script>
</body>
</html>