<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Recipe Book</title>
    <!-- Semantic Css -->
    <link rel="stylesheet" type="text/css" href="/semantic/dist/semantic.min.css">
    <!-- Custom Css -->
    <link rel="stylesheet" href="/css/custom.css" />
  </head>
  <div class="ui secondary menu huge">
    <a class="item">
      <i class="book big icon"></i>
    </a>
  </div>