<%- include('partials/header'); %>
<main class="ui container">
    <h1 class="ui center aligned icon header">
        <i class="circular utensils icon"></i>
        Recipe variable here
    </h1>
</main>
<%- include('partials/footer'); %>