/* Site Wide */

.footer-custom{
    margin-bottom: 0 !important;
}

#sub-ingredients{
    display: block;
}
.custom-button{
    margin-top: 1em !important;
}

/* Home Page (INDEX ROUTE) */

.header-custom{
    margin: 3rem;
    
}
.header-custom i{
    font-size: 1.2em !important;
}

.form-custom{
    margin-top: 1rem !important;
}

.header-custom form{
    margin:auto;
}

/* Individual Recipe Section (SHOW ROUTE) */

.individual-recipe p{
    text-align: center;
    color: #4f4f4f;
    padding: 1rem;
}
.individual-recipe{
    box-shadow:  0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
}
.custom-grid{
    margin: 3em auto !important;
}